html{
    margin:0px;
    padding:0px;
}

body{
    display:grid;
    grid-template-rows: 480px 480px;
    grid-template-columns: 1fr 1fr ;
    gap:35px 0px;
    padding-top:17px;
    padding-bottom:25px;
    background-color: whitesmoke;
}

body div {
    justify-self:center;
}

body div img{
    border:5px solid black;
    border-radius:15px;
}

.slimComic{
    justify-self:end;
}

.rightTear{
    justify-self:flex-start;
}